@charset "UTF-8";
input, select { border: none; appearance: none; -moz-appearance: none; -webkit-appearance: none; background-color: transparent; font-family: "微软雅黑"; }
input::-webkit-input-placeholder, select::-webkit-input-placeholder { color: #999; font-size: inherit; }
input:-moz-placeholder, select:-moz-placeholder { color: #999; font-size: inherit; }
input::-moz-placeholder, select::-moz-placeholder { color: #999; font-size: inherit; }
input:-ms-input-placeholder, select:-ms-input-placeholder { color: #999; font-size: inherit; }

input { text-indent: 1em; }

input[type="submit"] { text-indent: 0; cursor: pointer; border: none; appearance: none; }

.space-between, .strength .s-head { display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between; }

.wrap { width: 10rem; margin: 0 auto; font-size: 0.3733333333rem; font-family: "Microsoft Yahei"; }

p { line-height: 0.6133333333rem; }

.header { display: flex; align-items: center; height: 1.1733333333rem; padding: 0 0.2666666667rem; }
.header .h1 { width: 2.6666666667rem; height: 0.6933333333rem; }
.header .sublogo { padding-left: 0.24rem; margin-left: 0.24rem; line-height: 0.6666666667rem; border-left: 1px solid #ddd; }

.banner a { display: block; height: 6rem; }

.title { position: relative; height: 0.7466666667rem; margin-bottom: 0.5066666667rem; font-size: 0.5333333333rem; font-weight: bold; text-align: center; }
.title .en { padding-right: 30px; font-size: 0.8rem; line-height: 0.5333333333rem; color: #970041; opacity: 0.1; }
.title .cn { position: absolute; left: 0; right: 0; top: 0.24rem; margin: auto; font-size: 0.5333333333rem; line-height: 0.5333333333rem; }

.btn-wrap { padding-top: 0.4rem; line-height: 1.1733333333rem; text-align: center; }
.btn-wrap a { display: block; height: 1.1733333333rem; line-height: 1.1733333333rem; border-radius: 0.08rem; background-color: #ee931b; color: #fff; }

.intro { padding: 0.9333333333rem 0.4rem; }
.intro .i-cont .bg { height: 5.1733333333rem; margin-bottom: 0.5333333333rem; }
.intro .i-cont .c-name { padding-left: 0.2rem; margin-bottom: 0.2666666667rem; border-left: 0.1066666667rem solid #970041; }
.intro .i-cont .c-name p { font-size: 0.4266666667rem; line-height: 0.4266666667rem; margin-bottom: 0.1333333333rem; font-weight: bold; }
.intro .i-cont .c-name span { line-height: 0.3733333333rem; color: #999999; }
.intro .i-cont .c-detail p { text-indent: 2em; letter-spacing: 1px; line-height: 0.6133333333rem; color: #666666; }
.intro .i-cont .c-detail .btn-wrap a { display: block; width: 100%; margin-bottom: 0.3733333333rem; border: solid 1px #ee931b; border-radius: 4px; background-color: #fff; color: #ee931b; }
.intro .i-cont .c-detail .btn-wrap a:hover { background-color: #ee931b; color: #fff; }

.edu { padding: 0 0.4rem 0.9333333333rem; }
.edu .e-cont .c-item { position: relative; display: flex; align-items: center; justify-content: center; width: 82%; height: 1.9466666667rem; padding-left: 6%; margin: 0 0.4rem 0.5333333333rem 1.0666666667rem; line-height: 0.48rem; background-color: #fafafa; border-radius: 6px; border: solid 1px #dddddd; }
.edu .e-cont .c-item .num { position: absolute; top: 0; bottom: 0; left: -1.2133333333rem; margin: auto; width: 2.48rem; height: 1.9733333333rem; line-height: 1.9466666667rem; font-size: 0.64rem; font-style: normal; font-weight: bold; color: #ffffff; background: url(../images/bg_2.png) no-repeat; background-size: 100%; text-align: center; }

.courses { padding: 0 0.4rem; }
.courses .c-cont .c-item { padding: 0.4rem 0.2666666667rem 0.4rem 0.4rem; margin-bottom: 0.24rem; line-height: 0.6133333333rem; border-radius: 0.08rem; border: solid 1px #dddddd; }
.courses .c-cont .c-item .i-title { padding-left: 0.2rem; margin-bottom: 0.2666666667rem; line-height: 0.4rem; border-left: 0.1066666667rem solid #970041; color: #970041; }

.course-info { padding: 1.0666666667rem 0.4rem; }
.course-info .i-cont .bg { height: 5.1733333333rem; margin-bottom: 0.5333333333rem; }
.course-info .i-cont .c-name { padding-left: 0.1333333333rem; margin-bottom: 0.2666666667rem; line-height: 0.4rem; font-size: 0.4266666667rem; font-weight: bold; border-left: 0.1066666667rem solid #970041; }
.course-info .i-cont .c-history { color: #666666; margin-bottom: 0.4rem; }
.course-info .i-cont .c-history p { text-indent: 2em; }
.course-info .i-detail { display: flex; flex-wrap: wrap; padding: 0.4rem 0.4rem 0.1333333333rem; margin-bottom: 0.1333333333rem; font-size: 0.32rem; border: solid 1px #dddddd; background-color: #fafafa; border-radius: 0.08rem; }
.course-info .i-detail .d-item { display: flex; align-items: center; padding-right: 0.2666666667rem; margin-bottom: 0.2666666667rem; line-height: 0.32rem; color: #666666; }
.course-info .i-detail .d-item img { margin-right: 6px; }
.course-info .i-detail .d-item span { font-weight: bold; color: #333333; }

.line { position: relative; width: 360px; height: 1px; background: rgba(151, 0, 65, 0.3); margin: 0 auto 18px; }
.line span { position: absolute; left: 0; right: 0; top: -2px; margin: auto; width: 40px; height: 6px; background-color: #970041; }

.subtitle { margin-bottom: 0.5333333333rem; font-size: 0.32rem; color: #666666; text-align: center; }

.strength { padding: 0 0.4rem 0.4rem; }
.strength .s-head { margin-bottom: 0.1333333333rem; }
.strength .s-head .h-item { width: 44%; padding-left: 0.36rem; margin-bottom: 0.24rem; font-size: 0.32rem; line-height: 0.7466666667rem; background: url(../images/c-nor.png) no-repeat 0.24rem #fafafa; background-size: 0.4133333333rem 0.4133333333rem; border: solid 1px #970041; background-color: #fff5f9; color: #970041; cursor: pointer; }
.strength .s-head .h-item span { margin-right: 0.08rem; font-size: 0.4rem; font-weight: bold; font-style: italic; vertical-align: bottom; }
.strength .s-head .h-item.on { background: url(../images/c-sel.png) no-repeat 26px 18px #970041; border: solid 1px #970041; color: #fff; }
.strength .s-head .h-item.on span { color: #fff; }
.strength .c-item { display: none; }
.strength .c-item.on { display: block; }

.apply { padding: 2.4rem 0.2666666667rem 0.4rem 0.4rem; margin: 0 0.4rem 1.0666666667rem; background: url(../images/bg_6.png) no-repeat; background-size: 100% auto; }
.apply .sign-in input { width: 100%; height: 1.1733333333rem; line-height: 1.1733333333rem; margin-bottom: 0.4rem; background-color: #ffffff; }
.apply .sign-in input[type="submit"] { background-color: #ee931b; color: #fff; }

.result { padding: 0 0.4rem 1.0666666667rem; }
.result .multi { height: 1.2rem; }

.process .p-cont { display: flex; flex-wrap: wrap; justify-content: center; padding-right: 2%; background: url(../images/p.png) no-repeat center top; background-size: 8.9333333333rem 4.2rem; }
.process .p-cont .c-item { width: 25%; padding-top: 1.68rem; line-height: 0.4rem; font-size: 0.32rem; font-weight: bold; text-align: center; }
.process .p-cont .c-item:nth-child(n + 5) { padding-top: 2.4rem; }

.graduate { padding: 1.0666666667rem 0.4rem; }
.graduate .g-cont img { width: 100%; height: 5.6rem; }

.campus { padding: 0 0.4rem 0.5333333333rem; }

.ask { padding: 0 0.4rem; }
.ask .ask-cont .c-item { margin-bottom: 0.4rem; }
.ask .ask-cont .c-item .i-q { display: flex; align-items: flex-start; margin-bottom: 0.4rem; line-height: 0.48rem; font-size: 0.4266666667rem; font-weight: bold; }
.ask .ask-cont .c-item .i-q em { padding: 0 0.0933333333rem; height: 0.48rem; margin-right: 0.2rem; font-size: 0.3733333333rem; background-color: #970041; border-radius: 0.0533333333rem; text-align: center; color: #ffffff; }
.ask .ask-cont .c-item .i-an { padding: 0.4rem; background-color: #fafafa; border-radius: 0.08rem; border: solid 1px #dddddd; color: #666666; }

.visit { padding: 0 0.4rem 0.8rem; }
.visit .v-cont .c-l { height: 5.3333333333rem; margin-bottom: 0.3733333333rem; }
.visit .v-cont .c-l img { width: 100%; height: 100%; }
.visit .v-cont .c-r { padding: 0.5333333333rem 0.2666666667rem 0 0.4rem; border: solid 1px #dddddd; }
.visit .v-cont .c-r .r-t { height: 1.28rem; margin-bottom: 0.5333333333rem; text-align: center; }
.visit .v-cont .c-r .r-t img { height: 100%; }
.visit .v-cont .c-r input { width: 100%; height: 1.1466666667rem; line-height: 1.1733333333rem; margin-bottom: 0.4rem; border: solid 1px #dddddd; background-color: #fafafa; }
.visit .v-cont .c-r textarea { width: 93%; height: 56px; padding: 0.8em 1em; margin-bottom: 20px; background-color: #fafafa; border-radius: 4px; border: solid 1px #dddddd; }
.visit .v-cont .c-r input[type="submit"] { border: 0; background-color: #ee931b; border-radius: 4px; color: #fff; }

.footer { height: 0.7466666667rem; padding: 0.2666666667rem 0; font-size: 0.2666666667rem; text-align: center; background-color: #f5f5f5; color: #666666; }
.footer p { line-height: 0.4rem; }

.swiper-container .swiper-wrapper { margin-bottom: 0.5333333333rem; }
.swiper-container .swiper-pagination.swiper-pagination-bullets { bottom: 0; }
.swiper-container .swiper-pagination-bullet-active { background: #970041; }

/*# sourceMappingURL=index.css.map */
