@charset "UTF-8";
input, select { border: none; appearance: none; -moz-appearance: none; -webkit-appearance: none; background-color: transparent; font-family: "微软雅黑"; }
input::-webkit-input-placeholder, select::-webkit-input-placeholder { color: #999; font-size: inherit; }
input:-moz-placeholder, select:-moz-placeholder { color: #999; font-size: inherit; }
input::-moz-placeholder, select::-moz-placeholder { color: #999; font-size: inherit; }
input:-ms-input-placeholder, select:-ms-input-placeholder { color: #999; font-size: inherit; }

input { text-indent: 1em; }

input[type="submit"] { text-indent: 0; cursor: pointer; border: none; appearance: none; }

.space-between { display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between; }

.wrap { width: 10rem; margin: 0 auto; font-size: 0.3733333333rem; font-family: "Microsoft Yahei"; }

.course-info .i-cont, .course-info .i-detail, .strength .s-cont, .process .p-cont, .graduate .g-cont, .campus .s-cont, .ask .ask-cont, .visit .v-cont { zoom: 1; }
.course-info .i-cont:after, .course-info .i-detail:after, .strength .s-cont:after, .process .p-cont:after, .graduate .g-cont:after, .campus .s-cont:after, .ask .ask-cont:after, .visit .v-cont:after { clear: both; }
.course-info .i-cont:before, .course-info .i-detail:before, .strength .s-cont:before, .process .p-cont:before, .graduate .g-cont:before, .campus .s-cont:before, .ask .ask-cont:before, .visit .v-cont:before, .course-info .i-cont:after, .course-info .i-detail:after, .strength .s-cont:after, .process .p-cont:after, .graduate .g-cont:after, .campus .s-cont:after, .ask .ask-cont:after, .visit .v-cont:after { content: ""; display: table; }

.btn-wrap a i, .ask .ask-cont .c-item .i-q em { display: inline-block; *zoom: 1; *display: inline; }

.wrap { width: 10rem; margin: 0 auto; }

.header { display: flex; align-items: center; height: 1.1733333333rem; padding: 0 0.2666666667rem; }
.header .h1 { width: 2.6666666667rem; height: 0.6933333333rem; }
.header .sublogo { padding-left: 0.24rem; margin-left: 0.24rem; line-height: 0.6666666667rem; border-left: 1px solid #ddd; }

.banner a { display: block; height: 6rem; }

.title { position: relative; height: 0.7466666667rem; margin-bottom: 0.5066666667rem; font-weight: bold; text-align: center; }
.title .en { padding-right: 30px; font-size: 0.8rem; line-height: 0.5333333333rem; color: #970041; opacity: 0.1; }
.title .cn { position: absolute; left: 0; right: 0; top: 0.24rem; margin: auto; font-size: 0.5333333333rem; line-height: 0.5333333333rem; }

.btn-wrap { padding-top: 0.4rem; line-height: 1.1733333333rem; text-align: center; }
.btn-wrap a { display: block; height: 1.1733333333rem; line-height: 1.1733333333rem; border-radius: 0.08rem; background-color: #ee931b; color: #fff; }
.btn-wrap a i { width: 18px; height: 18px; margin-left: 4px; background: url(../images/icon_1.png) no-repeat; vertical-align: middle; }

.intro { padding: 1.04rem 0.4rem 0; }
.intro .i-cont .bg { height: 5.1733333333rem; margin-bottom: 0.5333333333rem; }
.intro .i-cont .c-name { padding-left: 0.2rem; margin-bottom: 0.2666666667rem; border-left: 0.1066666667rem solid #970041; }
.intro .i-cont .c-name p { font-size: 0.4266666667rem; line-height: 0.4266666667rem; margin-bottom: 0.1333333333rem; font-weight: bold; }
.intro .i-cont .c-name span { line-height: 0.3733333333rem; color: #999999; }
.intro .i-cont .c-detail p { text-indent: 2em; letter-spacing: 1px; line-height: 0.6133333333rem; color: #666666; }
.intro .i-cont .c-detail .btn-wrap a { display: block; width: 100%; margin-bottom: 0.3733333333rem; border: solid 1px #ee931b; border-radius: 4px; background-color: #fff; color: #ee931b; }
.intro .i-cont .c-detail .btn-wrap a:hover { background-color: #ee931b; color: #fff; }

.edu { padding: 0 0.4rem; }
.edu .e-cont .c-item { position: relative; display: flex; align-items: center; justify-content: center; width: 88%; height: 1.9466666667rem; margin: 0 0.4rem 0 1.0666666667rem; line-height: 0.4266666667rem; font-size: 0.2666666667rem; background-color: #fafafa; border-radius: 6px; border: solid 1px #dddddd; }
.edu .e-cont .c-item .num { position: absolute; top: 0; bottom: 0; left: -1.2133333333rem; margin: auto; width: 2.48rem; height: 1.9733333333rem; line-height: 1.9466666667rem; font-size: 0.64rem; font-style: normal; font-weight: bold; color: #ffffff; background: url(../images/bg_2.png) no-repeat; background-size: 100%; text-align: center; }

.courses { padding: 0 0.4rem; }
.courses .c-cont .c-item { background-color: #ffffff; border-radius: 6px; border: solid 1px #dddddd; line-height: 28px; letter-spacing: 1px; }

.course-info { display: none; padding: 86px 0 110px; }
.course-info .i-cont { padding: 60px 0 40px; }
.course-info .i-cont .bg { width: 420px; height: 285px; margin-right: 30px; }
.course-info .i-cont .fr { width: 736px; }
.course-info .i-cont .c-name { padding-left: 10px; border-left: 5px solid #970041; }
.course-info .i-cont .c-name p { font-size: 22px; line-height: 22px; margin-bottom: 10px; font-weight: bold; }
.course-info .i-cont .c-name span { line-height: 16px; color: #999999; }
.course-info .i-cont .c-history { padding-top: 20px; margin-top: 20px; border-top: 1px solid #ddd; color: #666666; }
.course-info .i-cont .c-history p { text-indent: 2em; }
.course-info .i-detail { padding: 20px 0 20px 40px; height: 58px; margin-bottom: 60px; border: solid 1px #dddddd; background-color: #fafafa; }
.course-info .i-detail .d-item { float: left; padding-right: 40px; margin-bottom: 20px; line-height: 18px; color: #666666; }
.course-info .i-detail .d-item img { margin-right: 6px; }
.course-info .i-detail .d-item span { font-weight: bold; color: #333333; }

.line { position: relative; width: 360px; height: 1px; background: rgba(151, 0, 65, 0.3); margin: 0 auto 18px; }
.line span { position: absolute; left: 0; right: 0; top: -2px; margin: auto; width: 40px; height: 6px; background-color: #970041; }

.subtitle { margin-bottom: 60px; color: #666666; text-align: center; }

.strength { display: none; padding: 80px 0; height: 680px; background: url(../images/bg_5.jpg) no-repeat; }
.strength .tab-head { float: left; width: 280px; margin-right: 40px; }
.strength .tab-head .h-item { padding-left: 35px; height: 56px; line-height: 56px; margin-bottom: 30px; background: url(../images/c-nor.png) no-repeat 26px 18px #fafafa; border: solid 1px #dddddd; background-color: #fafafa; cursor: pointer; }
.strength .tab-head .h-item span { margin-right: 6px; font-size: 30px; font-weight: bold; font-style: italic; color: #970041; vertical-align: bottom; }
.strength .tab-head .h-item.on { background: url(../images/c-sel.png) no-repeat 26px 18px #970041; border: solid 1px #970041; color: #fff; position: relative; }
.strength .tab-head .h-item.on::after { position: absolute; right: -22px; top: 0; bottom: 0; margin: auto; content: ""; width: 0; height: 0; border-width: 11px; border-style: solid; border-color: transparent transparent transparent #970041; }
.strength .tab-head .h-item.on span { color: #fff; }
.strength .c-item { display: none; float: left; width: 877px; height: 492px; }
.strength .c-item.on { display: block; }

.apply { display: none; height: 120px; background: url(../images/bg_6.png) no-repeat center; }
.apply .sign-in { padding: 38px 0 0 160px; }
.apply .sign-in input { width: 250px; height: 44px; line-height: 44px; margin-left: 4px; text-indent: 1em; background-color: #ffffff; }
.apply .sign-in input[type="submit"] { text-indent: 0; background-color: #ee931b; border-radius: 22px; color: #fff; }

.result { display: none; }

.process { display: none; }
.process .p-cont { margin-right: -74px; background: url(../images/p.png) no-repeat; }
.process .p-cont .c-item { float: left; width: 106px; padding-top: 166px; height: 40px; line-height: 40px; margin-right: 76px; font-size: 18px; font-weight: bold; text-align: center; }
.process .p-cont .c-item:nth-child(even) { padding-top: 106px; }

.graduate { display: none; }
.graduate .g-cont { margin-right: -20px; }
.graduate .g-cont img { float: left; margin: 0 20px 20px 0; }

.campus { display: none; }
.campus .c-item { display: none; float: left; width: 980; height: 552px; margin-right: 20px; }
.campus .c-item.on { display: block; }
.campus .tab-head { float: left; width: 200px; }
.campus .tab-head .h-item { position: relative; height: 123px; margin-bottom: 20px; cursor: pointer; }
.campus .tab-head .h-item img { height: 100%; position: absolute; top: 0; z-index: 100; }
.campus .tab-head .h-item span { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; z-index: 110; line-height: 123px; background: url(../images/mask.png); font-size: 20px; color: #fff; text-align: center; }
.campus .tab-head .h-item.on span { display: none; }

.ask { display: none; }
.ask .ask-cont { margin-right: -40px; }
.ask .ask-cont .c-item { float: left; width: 580px; margin: 0 40px 30px 0; }
.ask .ask-cont .c-item .i-q { margin-bottom: 20px; font-weight: bold; }
.ask .ask-cont .c-item .i-q em { width: 30px; height: 30px; line-height: 30px; margin-right: 8px; font-size: 18px; background-color: #970041; border-radius: 4px; text-align: center; color: #ffffff; }
.ask .ask-cont .c-item .i-an { padding: 20px 30px; height: 70px; font-size: 14px; background-color: #fafafa; border-radius: 4px; border: solid 1px #dddddd; line-height: 24px; color: #666666; }

.visit { display: none; margin-bottom: 100px; }
.visit .v-cont .c-l { float: left; width: 660px; height: 366px; }
.visit .v-cont .c-l img { width: 100%; height: 100%; }
.visit .v-cont .c-r { float: right; width: 444px; height: 348px; padding: 18px 28px 0; border: solid 1px #dddddd; }
.visit .v-cont .c-r .r-title { line-height: 30px; margin-bottom: 14px; font-size: 24px; font-weight: bold; text-align: center; }
.visit .v-cont .c-r input { width: 100%; height: 46px; line-height: 48px; margin-bottom: 18px; border: solid 1px #dddddd; background-color: #fafafa; border-radius: 4px; text-indent: 1em; }
.visit .v-cont .c-r textarea { width: 93%; height: 56px; padding: 0.8em 1em; margin-bottom: 20px; background-color: #fafafa; border-radius: 4px; border: solid 1px #dddddd; }
.visit .v-cont .c-r input[type="submit"] { border: 0; text-indent: 0; background-color: #ee931b; border-radius: 4px; color: #fff; }

.footer { height: 0.7466666667rem; padding: 0.2666666667rem 0; font-size: 0.2666666667rem; text-align: center; background-color: #f5f5f5; }
.footer p { line-height: 0.4rem; }

/*# sourceMappingURL=index.css.map */
