input,
select {
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-webkit-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  background-color: transparent;
  font-family: "微软雅黑";
}
input {
  text-indent: 1em;
}
input[type="submit"] {
  text-indent: 0;
  cursor: pointer;
  border: none;
  appearance: none;
}
$browser-default-font-size: 75px !default;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}
$bg-color: #970041;
$padding: pr(30px);
// 垂直居中，两端对齐
.space-between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap {
  width: pr(750px);
  margin: 0 auto;
  font-size: pr(28px);
  font-family: "Microsoft Yahei";
}
p {
  line-height: pr(46px);
}
.header {
  display: flex;
  align-items: center;
  height: pr(88px);
  padding: 0 pr(20px);
  .h1 {
    width: pr(200px);
    height: pr(52px);
  }
  .sublogo {
    padding-left: pr(18px);
    margin-left: pr(18px);
    line-height: pr(50px);
    border-left: 1px solid #ddd;
  }
}
.banner {
  a {
    display: block;
    height: pr(450px);
  }
}
.title {
  position: relative;
  height: pr(56px);
  margin-bottom: pr(38px);
  font-size: pr(40px);
  font-weight: bold;
  text-align: center;
  .en {
    padding-right: 30px;
    font-size: pr(60px);
    line-height: pr(40px);
    color: $bg-color;
    opacity: 0.1;
  }
  .cn {
    position: absolute;
    left: 0;
    right: 0;
    top: pr(18px);
    margin: auto;
    font-size: pr(40px);
    line-height: pr(40px);
  }
}
.btn-wrap {
  padding-top: $padding;
  line-height: pr(88px);
  text-align: center;
  a {
    display: block;
    height: pr(88px);
    line-height: pr(88px);
    border-radius: pr(6px);
    background-color: #ee931b;
    color: #fff;
  }
}
.intro {
  padding: pr(70px) $padding;
  .i-cont {
    .bg {
      height: pr(388px);
      margin-bottom: pr(40px);
    }
    .c-name {
      padding-left: pr(15px);
      margin-bottom: pr(20px);
      border-left: pr(8px) solid $bg-color;
      p {
        font-size: pr(32px);
        line-height: pr(32px);
        margin-bottom: pr(10px);
        font-weight: bold;
      }
      span {
        line-height: pr(28px);
        color: #999999;
      }
    }
    .c-detail {
      p {
        text-indent: 2em;
        letter-spacing: 1px;
        line-height: pr(46px);
        color: #666666;
      }
      .btn-wrap {
        a {
          display: block;
          width: 100%;

          margin-bottom: pr(28px);
          border: solid 1px #ee931b;
          border-radius: 4px;
          background-color: #fff;
          color: #ee931b;
          &:hover {
            background-color: #ee931b;
            color: #fff;
          }
        }
      }
    }
  }
}
.edu {
  padding: 0 $padding pr(70px);
  .e-cont {
    .c-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 82%;
      height: pr(146px);
      padding-left: 6%;
      margin: 0 $padding pr(40px) pr(80px);
      line-height: pr(36px);
      background-color: #fafafa;
      border-radius: 6px;
      border: solid 1px #dddddd;
      .num {
        position: absolute;
        top: 0;
        bottom: 0;
        left: pr(-91px);
        margin: auto;
        width: pr(186px);
        height: pr(148px);
        line-height: pr(146px);
        font-size: pr(48px);
        font-style: normal;
        font-weight: bold;
        color: #ffffff;
        background: url(../images/bg_2.png) no-repeat;
        background-size: 100%;
        text-align: center;
      }
    }
  }
}
.courses {
  padding: 0 $padding;
  .c-cont {
    .c-item {
      padding: $padding pr(20px) $padding $padding;
      margin-bottom: pr(18px);
      line-height: pr(46px);
      border-radius: pr(6px);
      border: solid 1px #dddddd;

      .i-title {
        padding-left: pr(15px);
        margin-bottom: pr(20px);
        line-height: pr(30px);
        border-left: pr(8px) solid $bg-color;
        color: $bg-color;
      }
    }
  }
}
.course-info {
  padding: pr(80px) $padding;
  .i-cont {
    .bg {
      height: pr(388px);
      margin-bottom: pr(40px);
    }
    .c-name {
      padding-left: pr(10px);
      margin-bottom: pr(20px);
      line-height: pr(30px);
      font-size: pr(32px);
      font-weight: bold;
      border-left: pr(8px) solid $bg-color;
    }
    .c-history {
      color: #666666;
      margin-bottom: $padding;
      p {
        text-indent: 2em;
      }
    }
  }
  .i-detail {
    display: flex;
    flex-wrap: wrap;
    padding: $padding $padding pr(10px);
    margin-bottom: pr(10px);
    font-size: pr(24px);
    border: solid 1px #dddddd;
    background-color: #fafafa;
    border-radius: pr(6px);
    .d-item {
      display: flex;
      align-items: center;
      padding-right: pr(20px);
      margin-bottom: pr(20px);
      line-height: pr(24px);
      color: #666666;
      img {
        margin-right: 6px;
      }
      span {
        font-weight: bold;
        color: #333333;
      }
    }
  }
}
.line {
  position: relative;
  width: 360px;
  height: 1px;
  background: rgba(151, 0, 65, 0.3);
  margin: 0 auto 18px;
  span {
    position: absolute;
    left: 0;
    right: 0;
    top: -2px;
    margin: auto;
    width: 40px;
    height: 6px;
    background-color: $bg-color;
  }
}
.subtitle {
  margin-bottom: pr(40px);
  font-size: pr(24px);
  color: #666666;
  text-align: center;
}
.strength {
  padding: 0 $padding $padding;
  .s-head {
    @extend .space-between;
    margin-bottom: pr(10px);
    .h-item {
      width: 44%;
      padding-left: pr(27px);
      margin-bottom: pr(18px);
      font-size: pr(24px);
      line-height: pr(56px);
      background: url(../images/c-nor.png) no-repeat pr(18px) #fafafa;
      background-size: pr(31px) pr(31px);
      border: solid 1px $bg-color;
      background-color: #fff5f9;
      color: $bg-color;
      cursor: pointer;
      span {
        margin-right: pr(6px);
        font-size: pr(30px);
        font-weight: bold;
        font-style: italic;
        vertical-align: bottom;
      }

      &.on {
        background: url(../images/c-sel.png) no-repeat 26px 18px $bg-color;
        border: solid 1px $bg-color;
        color: #fff;
        span {
          color: #fff;
        }
      }
    }
  }
  .c-item {
    display: none;
    &.on {
      display: block;
    }
  }
}
.apply {
  padding: pr(180px) pr(20px) $padding $padding;
  margin: 0 $padding pr(80px);
  background: url(../images/bg_6.png) no-repeat;
  background-size: 100% auto;
  .sign-in {
    input {
      width: 100%;
      height: pr(88px);
      line-height: pr(88px);
      margin-bottom: $padding;
      background-color: #ffffff;
    }
    input[type="submit"] {
      background-color: #ee931b;
      color: #fff;
    }
  }
}
.result {
  padding: 0 $padding pr(80px);
  .multi {
    height: pr(90px);
  }
}
.process {
  .p-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 2%;
    background: url(../images/p.png) no-repeat center top;
    background-size: pr(670px) pr(315px);
    .c-item {
      width: 25%;
      padding-top: pr(126px);
      line-height: pr(30px);
      font-size: pr(24px);
      font-weight: bold;
      text-align: center;
      &:nth-child(n + 5) {
        padding-top: pr(180px);
      }
    }
  }
}
.graduate {
  padding: pr(80px) $padding;
  .g-cont {
    img {
      width: 100%;
      height: pr(420px);
    }
  }
}
.campus {
  padding: 0 $padding pr(40px);
}
.ask {
  padding: 0 $padding;
  .ask-cont {
    .c-item {
      margin-bottom: $padding;
      .i-q {
        display: flex;
        align-items: flex-start;
        margin-bottom: $padding;
        line-height: pr(36px);
        font-size: pr(32px);
        font-weight: bold;
        em {
          padding: 0 pr(7px);
          height: pr(36px);
          margin-right: pr(15px);
          font-size: pr(28px);
          background-color: $bg-color;
          border-radius: pr(4px);
          text-align: center;
          color: #ffffff;
        }
      }
      .i-an {
        padding: $padding;
        background-color: #fafafa;
        border-radius: pr(6px);
        border: solid 1px #dddddd;
        color: #666666;
      }
    }
  }
}
.visit {
  padding: 0 $padding pr(60px);
  .v-cont {
    .c-l {
      height: pr(400px);
      margin-bottom: pr(28px);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .c-r {
      padding: pr(40px) pr(20px) 0 $padding;
      border: solid 1px #dddddd;
      .r-t {
        height: pr(96px);
        margin-bottom: pr(40px);
        text-align: center;
        img{
          height: 100%;
        }
      }
      input {
        width: 100%;
        height: pr(86px);
        line-height: pr(88px);
        margin-bottom: pr(30px);
        border: solid 1px #dddddd;
        background-color: #fafafa;
      }
      textarea {
        width: 93%;
        height: 56px;
        padding: 0.8em 1em;
        margin-bottom: 20px;
        background-color: #fafafa;
        border-radius: 4px;
        border: solid 1px #dddddd;
      }
      input[type="submit"] {
        border: 0;
        background-color: #ee931b;
        border-radius: 4px;
        color: #fff;
      }
    }
  }
}
.footer {
  height: pr(56px);
  padding: pr(20px) 0;
  font-size: pr(20px);
  text-align: center;
  background-color: #f5f5f5;
  color: #666666;
  p{
    line-height: pr(30px);
  }
}
// 轮播图
.swiper-container{
  .swiper-wrapper{
    margin-bottom: pr(40px);
  }
  .swiper-pagination{
    &.swiper-pagination-bullets{
      bottom: 0;
    }
  }
  .swiper-pagination-bullet-active{
    background: $bg-color;
  }
}